body {
    background-color: darkorange;
    text-align: center;
    font-family: helvetica;
}

h1 {font-size: 900%; 
    font-family: xband rough;}

h2 {font-size: 500%; 
    font-family: xband rough;}

footer {font-family: xband rough;
		font-weight:bold;
    	font-size: 200%;}

    	